rpm-qlp.txt
rpm-qi.txt
rpmbuild/BUILDROOT
make-springboot-rpm.1
make-springboot-exe.1
search-winsw.bash.1
pkgdeb

# Maven
target/
!**/src/main/**
!**/src/test/**

# Windows / macOS
desktop.ini
.DS_Store
Thumbs.db

# Executables
*.exe
*.rpm
*.deb

# VS Code
.vscode/
*.code-workspace

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
